.modalWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(6px);

    .modal {
        min-width: 450px;
        background-color: white;
        border-radius: 16px;

        position: relative;
    }

    .content {
        padding: 20px;
    }

    .closeButton {
        border: 2px solid black;
        color: black;
        background-color: white;

        border-radius: 50%;
        width: 50px;
        height: 50px;

        position: absolute;
        top: 16px;
        right: 16px;
    }
}
