.modalWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(6px);

    z-index: 10000;

    .modal {
        min-width: 450px;
        background-color: white;
        border-radius: 16px;

        position: relative;
    }

    .content {
        padding: 20px;
    }

    .closeButton {
        border: none;
        color: black;
        background-color: white;

        border-radius: 50%;

        position: absolute;
        top: 8px;
        right: 8px;

        width: 35px;
        height: 35px;

        &:before,
        &:after {
            position: absolute;
            right: 16px;
            top: 8px;

            content: ' ';
            height: 22px;
            width: 2px;
            background-color: color(black);
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
